@model Book[]

@{
    ViewData["Title"] = "Іздеу нәтижесі";
}


<h1>Іздеу нәтижесі: @Model.Length</h1>

<hr />

@if (Model.Length == 0)
{
    <p>Ештеңе табылмады.</p>
}
else
{

    <ol>
        @foreach (var book in Model)
        {
            <li><a href="@Url.Action("Index", "book", new { id = book.Id })">@book.Title</a></li>
        }
    </ol>
}


