@model ErrorViewModel
@{
    ViewData["Title"] = "Қате";
}

<h1 class="text-danger">Қате.</h1>
<h2 class="text-danger">Сұрауыңызды өңдеу кезінде қате пайда болды.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}